.error {
    color: red;
    display: block;
}

.no-error{
    color: green;
    display: block;
}

/* Toastr Css */
#toast-container > .toast-success {
    background-image: none;
    background-color: green;
    color: black;
}
#toast-container > .toast-error {
    background-image: none;
    background-color: #e9e9e9;
    color: red;
}

/* Meterial Css Override */
button.k-warning{
    background-color: coral !important;
}

button.k-danger{
background-color: #d34750 !important;
}
  